export(fit_coca)
export(fit_direct)
export(fit_iv2sls)
export(fit_pgc)
export(plot_bias)
export(plot_bias_boxplot)
export(plot_bias_distribution)
export(plot_estimate_distribution)
export(plot_estimated_vs_true)
export(plot_power)
export(plot_type1_boxplot)
export(plot_type1_error)
export(plot_type1_vs_conf)
export(run_null_sim)
export(run_simulation)
export(scenic_method_colors)
export(scenic_method_order)
export(sweep_null_by_conf)
export(sweep_param)
importFrom(AER,ivreg)
